.image-container {
    position: fixed;
    top: 0%;
    left: 50%;
  }

  .image-container-2
  {
    position: static;


  }


  .image-container-3
  {
    position: absolute;
    top: 50%;
    left: 50%;

  }
